body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
  background: url("./../img/bdimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: white;
}

.weather-app {
  max-width: 1500px;
  margin: 60px auto;
  padding: 10px;
  /* padding-bottom: 30px; */
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  height: 50vh;
}

header {
  padding-bottom: 30px;
}

.search-input {
  background-color: #ffffff78;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px;
  width: 30%;
  border-radius: 20px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #ffffff78;
  color: white;
  border: none;
  padding: 15px 30px;
  line-height: 1;
  border-radius: 20px;
  font-weight: bold;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
  text-align: center;
}

.current-weather {
  background-color: #100e0e9c;
  color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 100px;
  width: 500px;
  height: 400px;
  float: left;
  box-shadow: inset 0px 1px 28px 0px rgba(255, 252, 255, 1);
}
.Weather-forecast {
  background-color: #100e0e9c;
  color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  width: 40rem;
  height: 200px;
  float: right;
  font-weight: bold;
  box-shadow: inset 0px 1px 35px 1px rgba(255, 252, 255, 0.49);
}
.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.current-details {
  color: rgba(227, 226, 234, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.current-temperature-unit {
  font-size: 38px;
  font-weight: bold;
  position: relative;
  top: -38px;
}
.Current-date {
  color: black;
  border-radius: 8px;
  padding: 20px 50px 20px 20px;
  background-color: #ffffff78;
}
.current-time {
  color: black;
}
/* .weather-forecast-temperatures {
  text-align: center;
  display: flex;
  margin-top: 10px;
  color: #c40b42;
} */
/* .weather-forecast-temperature {
  padding: 0 6px;
}
.weather-forecast-day {
  display: block;
  margin: 5px;
} */
footer {
  text-align: center;
  padding-top: 8px;
  color: rgba(39, 33, 66, 0.4);
  clear: both;
}
.Footer-details {
  color: azure;
}
